/* ****************************
*Styling with Mobile First Approach 
**************************************/

/* -----------------------------------------
css custom properties or variables 
------------------------------------------*/

:root {
  --text-color: #3a3a3a;
  --btn-color: #e02c6d;
}

/* ------------------
   Global Common Styles 
---------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 330px;
  margin: 0 auto;
}

.flex-row-align-center {
  display: flex;
  align-items: center;
}

/* ----------------------------
   End of Global Common Styles 
-------------------------------*/

/* -------------------------
    Header styles Start
--------------------------- */
.header {
  padding: 2rem 0;
}
.navbar {
  justify-content: space-between;
}

.navbar__hamburger_menu-mobile {
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.navbar__hamburger_menu-mobile > span {
  width: 18px;
  height: 2px;
  background-color: black;
}

.navbar__logo {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

.navbar__links {
  gap: 2rem;
}

.navbar__menu-pc {
  gap: 2rem;
  display: none;
}

.navbar__menu-pc > li > a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color);
  padding-bottom: 5px;
}
.navbar__menu-pc > li > a:hover {
  border-bottom: 3px solid var(--text-color);
}

.search-icon {
  display: flex;
  align-items: center;
}

/* ----------------------
*Hero Section Styles 
--------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.25rem;
}

.hero__img_container {
  width: 257px;
  height: 257px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 1rem;
}

.hero__img_container:hover > img {
  transform: scale(1.1);
}

.hero__img_container > img {
  position: relative;
  left: 50%;
  width: 202px;
  height: 190px;
  transition: transform 0.5s ease-in-out;
  animation: image-moving 1s 0.5s ease-in-out forwards;
}

@keyframes image-moving {
  0% {
    left: 49%;
  }

  100% {
    left: 0%;
  }
}

.hero__description {
  position: relative;
  left: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: text-moving 1s 0.5s ease-in-out forwards;
}

@keyframes text-moving {
  0% {
    left: -49%;
  }

  100% {
    left: 0%;
  }
}
.title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.625rem;
  margin-bottom: 1rem;
}

.details {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-bottom: 1.25rem;
}

.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  border-radius: 9999px;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: var(--btn-color);
}

.btn:hover > i {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

/*-------------------------------
 Client Links Section Styles 
 -----------------------------------*/
.client-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1.25rem;
  margin-bottom: 3.25rem;
}

.client-logos > a {
  width: 15%;
}
.client-logos > a > img {
  width: 100%;
}

/*-------------------------------
 Collection Section Styles
 -----------------------------------*/

.collection {
  margin-bottom: 3.25rem;
}
.collection__title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3a3a3a;
  margin-bottom: 1.25rem;
}

.collection__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.card > img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #18191f;
}

.card__price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: rgba(0, 0, 0, 0.87);
}
.card__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.625rem;
}

.card__rating > i {
  color: #fb8200;
  font-size: 0.625rem;
}

.card__rating > span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #5e6366;
}

.card > p {
  font-weight: normal;
  font-size: 0.875rem;
  color: #787885;
}

.collection__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
  gap: 0.5rem;
}

/*-------------------------------
 Categorized Collection Section Styles
 -----------------------------------*/
.categorized-collection {
  margin-bottom: 3.25rem;
}

.category__card {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.category__card:hover > img {
  transform: scale(1.1);
}

.category__card:hover .category__card-title {
  background-color: rgba(255, 255, 255, 0.25);
}

.category__card > img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.category__card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  transition: background-color 0.5s ease-in-out;
  font-size: 1rem;
}

/*-------------------------------
 Footer Section Styles
 -----------------------------------*/
.footer {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
}

.footer__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.footer__copyright {
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: normal;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
.footer__icons > i {
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
/* -------------------------------------------------
   *Media Queries For Different Size Devices (Responsive Code)
-----------------------------------------------------*/

/*--------------------------------------
 For Tablets
--------------------------------------- */
@media (min-width: 678px) {
  .container {
    max-width: 600px;
  }
  .navbar__logo {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .client-logos {
    padding: 2.25rem;
    border: 1px solid;
    border-image: linear-gradient(
      90deg,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50.38%,
      rgba(192, 204, 218, 0.1) 100%
    );
    border-image-slice: 1;
  }
  .collection__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .category__card {
    height: 210px;
  }

  .footer {
    height: 240px;
  }

  .footer__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
  }
  .footer__icons {
    margin-top: 1.125rem;
  }
  .footer__icons > i {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}

/*--------------------------------------
 For Medium Screen Laptops or PCs
--------------------------------------- */

@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .navbar__hamburger_menu-mobile {
    display: none;
  }
  .navbar__menu-pc {
    display: flex;
  }
  .hero {
    flex-direction: row-reverse;
    gap: 6.25rem;
    margin-bottom: 6.25rem;
  }
  .hero__img_container {
    width: 50%;
    height: auto;
    margin-bottom: 0;
  }

  .hero__img_container > img {
    width: 90%;
    height: auto;
  }
  .hero__description {
    width: 50%;
    text-align: start;
    align-items: flex-start;
  }
  .title {
    font-size: 2.6rem;
    line-height: 3.375rem;
  }

  .details {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
  }

  .client-logos {
    gap: 3.75%;
    padding: 2.25rem;
    margin-bottom: 6.25rem;
  }

  .client-logos > a {
    width: 10%;
  }
  .client-logos > a:first-child {
    width: 8%;
  }
  .collection {
    margin-bottom: 6.25rem;
  }
  .collection__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__title {
    font-weight: 500;
  }

  .card__price {
    font-weight: 400;
  }
  .card > p {
    font-weight: 700;
  }
  .categorized-collection {
    margin-bottom: 3.25rem;
  }

  .category__card-title {
    font-size: 1.25rem;
  }
}

/*--------------------------------------
 For Large Screen Laptops or PCs
--------------------------------------- */
@media (min-width: 1200px) {
  .container {
    max-width: 1047px;
  }
  .hero {
    gap: 3rem;
  }

  .title {
    font-size: 3.25rem;
    line-height: 4.375rem;
  }

  .category__card {
    height: 230px;
  }
}
